.editor .tabs {
  background-color: transparent !important;
}

.split-view-container,
.tabs *,
.statusbar *,
.explorer-folders-view *,
.search-view *,
.tree-explorer-viewlet-tree-view *,
.quick-input-widget *,
.notification-toast *,
.welcome-view *,
.scm-view *,
.scm-editor *,
.extensions-viewlet * {
  font-family: 'Dank Mono', monospace !important;
}

.codicon {
  font-family: codicon !important;
}
